<md-dialog class="dialog-extend"
           ng-class="{'mr-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.lbl_change_password}}">
    <popup-toolbar-directive header-text="{{lang.lbl_change_password}} - {{ctrl.employeeName}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive>
        <div class="md-dialog-content mr-dialog-content">
            <form form-directive="ctrl.changePasswordForm" name="changePasswordForm" autocomplete="off">
                <div layout="column">
                    <!-- Old password-->
                    <md-input-container flex ng-if="!ctrl.withOldPass">
                        <label for="oldPassword">{{lang.lbl_old_password}}</label>
                        <input name="oldPassword" id="oldPassword" required
                                type="password"
                               ng-model="ctrl.password.oldPassword" autofocus tabindex="1">
                        <div ng-messages="changePasswordForm.oldPassword.$error">
                            <div ng-message="required">{{lang.error_field_required}}</div>
                        </div>
                    </md-input-container>
                    <!-- new password-->
                    <md-input-container flex>
                        <label for="newPassword">{{lang.lbl_new_password}}</label>
                        <input name="newPassword" id="newPassword" required type="password"
                               ng-model="ctrl.password.newPassword" minlength="8" tabindex="2">
                        <div ng-messages="changePasswordForm.newPassword.$error">
                            <div ng-message="required">{{lang.error_field_required}}</div>
                            <div ng-message="minlength">{{ lang.error_min_length.change({length: 8}) }}</div>
                        </div>
                    </md-input-container>
                    <!-- confirm password-->
                    <md-input-container flex>
                        <label for="confirmPassword">{{lang.lbl_confirm_password}}</label>
                        <input name="confirmPassword" id="confirmPassword" minlength="8" required type="password"
                               ng-model="ctrl.password.confirmPassword" ng-change="ctrl.validatePassword()"
                               tabindex="3">
                        <div class="hint red-text"
                             ng-if="changePasswordForm.confirmPassword.$dirty && !ctrl.matchedPassword && ctrl.password.confirmPassword.length">
                            {{lang.error_password_not_matched}}
                        </div>
                        <div ng-messages="changePasswordForm.confirmPassword.$error">
                            <div ng-message="required">{{lang.error_field_required}}</div>
                            <div ng-message="minlength">{{ lang.error_min_length.change({length: 8}) }}</div>
                        </div>
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="mr-dialog-actions">
        <md-button class=" md-raised"
                   ng-disabled="ctrl.changePasswordForm.$invalid || !ctrl.matchedPassword"
                   ng-click="ctrl.change($event)" tabindex="4">
            {{lang.btn_save}}
        </md-button>
        <span flex></span>
        <md-button class="md-raised" ng-click="ctrl.closeDialog($event)" tabindex="5">
            {{lang.btn_close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
