<md-dialog class="dialog-extend"
           ng-class="{'mr-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.lbl_permissions}}">
    <popup-toolbar-directive
            header-text="{{lang.lbl_permissions}} - {{ctrl.employeePermission.getTranslatedName()}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive>
        <div class="md-dialog-content mr-dialog-content">
            <table md-table>
                <thead md-head>
                <tr md-row>
                    <th md-column>{{lang.header_arabic_name}}</th>
                    <th md-column>{{lang.header_english_name}}</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="permission in ctrl.employeePermission.permissions">
                    <td md-cell>{{permission.arName}}</td>
                    <td md-cell>{{permission.enName}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </md-dialog-content>
</md-dialog>
