<md-dialog class="dialog-extend"
           ng-class="{'mr-dialog-full-screen':ctrl.fullScreen}"
           ng-attr-aria-label="{{lang.lbl_link}}">
    <popup-toolbar-directive header-text="{{lang.lbl_link}}"></popup-toolbar-directive>
    <md-dialog-content scroll-directive>
        <div class="md-dialog-content mr-dialog-content">
            <form name="mailSelectorForm" autocomplete="off" enter-submit-directive="btn_getMail">
                <div layout="row">
                    <md-input-container flex>
                        <label for="{{ctrl.inputId}}">{{lang[ctrl.searchByCriteria.label]}}</label>
                        <input ng-model="ctrl.relationText" required
                               id="{{ctrl.inputId}}" name="{{ctrl.inputId}}">
                        <div ng-messages="mailSelectorForm.relationText.$error">
                            <div ng-message="required">{{lang.error_field_required}}</div>
                        </div>
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="mr-dialog-actions">
        <md-button class="md-raised" id="btn_getMail"
                   ng-disabled="mailSelectorForm.$invalid"
                   ng-click="ctrl.searchByCriteria.callback($event)">
            {{lang.btn_get_mail}}
        </md-button>
        <span flex></span>
        <md-button class="md-raised" ng-click="ctrl.closePopup($event)">
            {{lang.btn_close}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
