<form name="generalReportForm" autocomplete="off">
    <div layout-padding>
        <!--show if mail details report or mail actions report-->
        <div layout-padding
             ng-if="ctrl.isSelectedReport('MAIL_DETAILS_REPORT') || ctrl.isSelectedReport('MAIL_ACTION_DETAILS_REPORT')">
            <div layout="row">
                <!--Mail Type-->
                <md-input-container flex>
                    <label for="mailType">{{lang.lbl_mail_type}}</label>
                    <md-select id="mailType" name="mailType"
                               ng-model="ctrl.criteria.mail.mailType"
                               md-autofocus ng-change="ctrl.changeMailType()"
                               tabindex="1">
                        <md-option ng-value="null">{{lang.lbl_none}}</md-option>
                        <md-option ng-repeat="option in ctrl.mailTypes track by $index"
                                   ng-value="option.getTypeId()">{{option.getTranslatedName()}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <!-- Priority -->
                <md-input-container flex>
                    <label for="priority">{{lang.lbl_priority}}</label>
                    <md-select id="priority" name="priority"
                               ng-model="ctrl.criteria.mail.priority"
                               tabindex="2">
                        <md-option ng-value="null">{{lang.lbl_none}}</md-option>
                        <md-option ng-repeat="option in ctrl.priorityTypes track by $index"
                                   ng-value="option.getTypeId()">{{option.getTranslatedName()}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="row">
                <!-- Status Type -->
                <md-input-container flex>
                    <label for="statusType">{{lang.lbl_status_type}}</label>
                    <md-select id="statusType" name="statusType"
                               ng-model="ctrl.criteria.mail.statusType"
                               tabindex="3">
                        <md-option ng-value="null">{{lang.lbl_none}}</md-option>
                        <md-option ng-repeat="option in ctrl.statusTypes track by $index"
                                   ng-disabled="!ctrl.criteria.mail.isIncomingMail() && ctrl.isExpectedOptionStatus(option)"
                                   ng-value="option.getTypeId()">{{option.getTranslatedName()}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <!-- Entry Type -->
                <md-input-container flex>
                    <label for="entryType">{{lang.lbl_entry_type}}</label>
                    <md-select id="entryType" name="entryType"
                               ng-model="ctrl.criteria.mail.entryType"
                               tabindex="4">
                        <md-option ng-value="null">{{lang.lbl_none}}</md-option>
                        <md-option ng-repeat="option in ctrl.entryTypes track by $index"
                                   ng-value="option.getTypeId()">{{option.getTranslatedName()}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="row">
                <!-- Sender Entity -->
                <md-input-container flex>
                    <label for="senderEntity">{{lang.lbl_sender_entity}}</label>
                    <md-select id="senderEntity" name="senderEntity"
                               ng-model="ctrl.criteria.mail.senderEntity"
                               ng-disabled="!ctrl.criteria.mail.isIncomingMail()"
                               tabindex="5">
                        <md-option ng-value="null">{{lang.lbl_none}}</md-option>
                        <md-option ng-repeat="option in ctrl.mainEntities track by $index"
                                   ng-if="ctrl.isNotReceiverEntity(option) && option.isActive()"
                                   ng-value="option.getEntityId()">{{option.getTranslatedName()}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <!-- Receiver Entity -->
                <md-input-container flex>
                    <label for="receiverEntity">{{lang.lbl_receiver_entity}}</label>
                    <md-select id="receiverEntity" name="receiverEntity"
                               ng-model="ctrl.criteria.mail.receiverEntity"
                               ng-disabled="!ctrl.criteria.mail.isOutgoingMail()"
                               tabindex="6">
                        <md-option ng-value="null">{{lang.lbl_none}}</md-option>
                        <md-option ng-repeat="option in ctrl.mainEntities track by $index"
                                   ng-if="ctrl.isNotSenderEntity(option) && option.isActive()"
                                   ng-value="option.getEntityId()">{{option.getTranslatedName()}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <!--   <div layout="row">
                   &lt;!&ndash; Sender Department &ndash;&gt;
                   <md-input-container flex>
                       <label for="senderDep">{{lang.lbl_sender_department}}</label>
                       <md-select id="senderDep" name="senderDep"
                                  ng-model-options="{trackBy: '$value.id'}"
                                  ng-disabled="!ctrl.criteria.mail.senderEntity"
                                  ng-model="ctrl.criteria.mail.senderDep"
                                  tabindex="7"> &lt;!&ndash;ng-model-options="{trackBy: '$value.id'}"&ndash;&gt;
                           <md-option ng-value="null">{{lang.lbl_none}}</md-option>
                           <md-option ng-repeat="option in ctrl.senderDepartments"
                                      ng-if="ctrl.isNotReceiverDepartment(option) && option.isActive()"
                                      ng-value="option">{{option.getTranslatedName()}}
                           </md-option>
                       </md-select>
                   </md-input-container>

                   &lt;!&ndash; Receiver Department &ndash;&gt;
                   <md-input-container flex>
                       <label for="receiverDep">{{lang.lbl_receiver_department}}</label>
                       <md-select id="receiverDep" name="receiverDep"
                                  ng-model-options="{trackBy: '$value.id'}"
                                  ng-disabled="!ctrl.criteria.mail.receiverEntity"
                                  ng-model="ctrl.criteria.mail.receiverDep"
                                  tabindex="8">&lt;!&ndash; ng-model-options="{trackBy: '$value.id'}"&ndash;&gt;
                           <md-option ng-value="null">{{lang.lbl_none}}</md-option>
                           <md-option ng-repeat="option in ctrl.receiverDepartments"
                                      ng-if="ctrl.isNotSenderDepartment(option) && option.isActive()"
                                      ng-value="option">{{option.getTranslatedName()}}
                           </md-option>
                       </md-select>
                   </md-input-container>
               </div>-->

            <div layout="row">
                <!-- Register Date -->
                <fieldset class="fieldset">
                    <legend class="md-accent">{{lang.lbl_register_date}}</legend>

                    <!-- Register Date From -->
                    <md-input-container flex>
                        <label for="registerDateFrom">{{lang.lbl_from}}</label>
                        <md-datepicker ng-model="ctrl.criteria.registerDateFrom"
                                       name="registerDateFrom" id="registerDateFrom"
                                       md-max-date="ctrl.criteria.registerDateTo"
                                       ng-required="ctrl.criteria.registerDateTo"
                                       md-open-on-focus
                                       tabindex="7"></md-datepicker>
                        <div ng-messages="generalReportForm.registerDateFrom.$error">
                            <div ng-message="required">{{lang.error_field_required}}</div>
                        </div>
                    </md-input-container>
                    <!-- Register Date To -->
                    <md-input-container flex>
                        <label for="registerDateTo">{{lang.lbl_to}}</label>
                        <md-datepicker ng-model="ctrl.criteria.registerDateTo"
                                       name="registerDateTo" id="registerDateTo"
                                       md-min-date="ctrl.criteria.registerDateFrom"
                                       ng-required="ctrl.criteria.registerDateFrom"
                                       md-open-on-focus
                                       tabindex="8"></md-datepicker>
                        <div ng-messages="generalReportForm.registerDateTo.$error">
                            <div ng-message="required">{{lang.error_field_required}}</div>
                        </div>
                    </md-input-container>

                </fieldset>
                <span flex></span>
                <!--sender Date-->
                <fieldset class="fieldset">
                    <legend class="md-accent">{{lang.lbl_sent_date}}</legend>
                    <!-- Sent Date From -->
                    <md-input-container>
                        <label for="sentDateFrom">{{lang.lbl_from}}</label>
                        <md-datepicker ng-model="ctrl.criteria.sentDateFrom"
                                       name="sentDateFrom" id="sentDateFrom"
                                       md-max-date="ctrl.criteria.sentDateTo"
                                       md-min-date="ctrl.criteria.registerDateTo"
                                       md-open-on-focus
                                       ng-required="ctrl.criteria.sentDateTo"
                                       tabindex="9"></md-datepicker>
                        <div ng-messages="generalReportForm.sentDateFrom.$error">
                            <div ng-message="required">{{lang.error_field_required}}</div>
                        </div>
                    </md-input-container>
                    <!-- Sent Date To -->
                    <md-input-container>
                        <label for="sentDateTo">{{lang.lbl_to}}</label>
                        <md-datepicker ng-model="ctrl.criteria.sentDateTo"
                                       name="sentDateTo" id="sentDateTo"
                                       md-open-on-focus
                                       md-min-date="ctrl.criteria.sentDateFrom"
                                       ng-required="ctrl.criteria.sentDateFrom"
                                       tabindex="10"></md-datepicker>
                        <div ng-messages="generalReportForm.sentDateTo.$error">
                            <div ng-message="required">{{lang.error_field_required}}</div>
                        </div>
                    </md-input-container>

                </fieldset>
                <span flex></span>

                <!-- Receiver date-->
                <fieldset class="fieldset">
                    <legend class="md-accent">{{lang.lbl_received_date}}</legend>

                    <!-- Received Date From -->
                    <md-input-container>
                        <label for="receivedDateFrom">{{lang.lbl_from}}</label>
                        <md-datepicker ng-model="ctrl.criteria.receivedDateFrom"
                                       name="receivedDateFrom" id="receivedDateFrom"
                                       md-max-date="ctrl.criteria.receivedDateTo"
                                       md-min-date="ctrl.criteria.sentDateTo"
                                       ng-required="ctrl.criteria.receivedDateTo"
                                       md-open-on-focus
                                       tabindex="11"></md-datepicker>
                        <div ng-messages="generalReportForm.receivedDateFrom.$error">
                            <div ng-message="required">{{lang.error_field_required}}</div>
                        </div>
                    </md-input-container>
                    <!-- Received Date To -->
                    <md-input-container>
                        <label for="receivedDateTo">{{lang.lbl_to}}</label>
                        <md-datepicker ng-model="ctrl.criteria.receivedDateTo"
                                       name="receivedDateTo" id="receivedDateTo"
                                       md-min-date="ctrl.criteria.receivedDateFrom"
                                       ng-required="ctrl.criteria.receivedDateFrom"
                                       md-open-on-focus
                                       tabindex="12"></md-datepicker>
                        <div ng-messages="generalReportForm.receivedDateTo.$error">
                            <div ng-message="required">{{lang.error_field_required}}</div>
                        </div>
                    </md-input-container>

                </fieldset>
            </div>
        </div>

        <!--show if user details operation or user statical operation or department statical operation-->
        <div layout-padding
             ng-if="ctrl.isSelectedReport('USER_OPERATION_DETAILS_REPORT') || ctrl.isSelectedReport('USER_STATICAL_REPORT') || ctrl.isSelectedReport('DEP_STATIC_REPORT')">

            <!--show if user statical or deparrtment statical -->
            <div layout="row"
                 ng-if="ctrl.isSelectedReport('USER_STATICAL_REPORT') || ctrl.isSelectedReport('DEP_STATIC_REPORT')">
                <!--actionType -->
                <md-input-container flex ng-if="ctrl.isSelectedReport('USER_STATICAL_REPORT')">
                    <label for="actionLogType">{{lang.lbl_actions}}</label>
                    <md-select id="actionLogType" name="actionLogType"
                               ng-model="ctrl.criteria.actionLogType"
                               md-autofocus
                               tabindex="13">

                        <md-option ng-value="null">{{lang.lbl_none}}</md-option>
                        <md-option ng-repeat="option in ctrl.actionLogTypes track by $index"
                                   ng-value="option.getTypeId()">{{option.getTranslatedName()}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <!--Mail Type-->
                <md-input-container flex>
                    <label for="mailType">{{lang.lbl_mail_type}}</label>
                    <md-select id="mailType" name="mailType"
                               ng-model="ctrl.criteria.mail.mailType"
                               md-autofocus
                               tabindex="14">
                        <md-option ng-value="null">{{lang.lbl_none}}</md-option>
                        <md-option ng-repeat="option in ctrl.mailTypes track by $index"
                                   ng-value="option.getTypeId()">{{option.getTranslatedName()}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <!--show if user details operation or user statical operation-->
            <div layout="row" ng-if="!ctrl.isSelectedReport('DEP_STATIC_REPORT')">
                <!-- Entity -->
                <md-input-container flex>
                    <label for="entity">{{lang.lbl_entities}}</label>
                    <md-select id="entity" name="entity"
                               ng-model="ctrl.criteria.entity"
                               ng-change="ctrl.getEmployees(true,$event)"
                               tabindex="15">
                        <!--ng-model-options="{trackBy: '$value.id'}"-->
                        <md-option ng-value="null">{{lang.lbl_none}}</md-option>
                        <md-option ng-repeat="option in ctrl.mainEntities track by $index"
                                   ng-if="option.isActive()"
                                   ng-value="option.getEntityId()">{{option.getTranslatedName()}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <!-- Employee -->
                <md-input-container flex>
                    <label for="employee">{{lang.lbl_employee}}</label>
                    <md-select id="employee" name="employee"
                               ng-model="ctrl.criteria.employee"
                               tabindex="16">
                        <md-option ng-value="null">{{lang.lbl_none}}</md-option>
                        <md-option
                                ng-repeat="option in ((ctrl.criteria.entity) ? ctrl.employees : ctrl.allEmployees) track by $index"
                                ng-value="option.getEmployeeId()">{{option.getTranslatedName()}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" ng-if="ctrl.isSelectedReport('DEP_STATIC_REPORT')">
                <!-- Entity -->
                <md-input-container flex>
                    <label for="entity">{{lang.lbl_entities}}</label>
                    <md-select id="entity" name="entity"
                               ng-model="ctrl.criteria.entity"
                               ng-change="ctrl.getDepartments(true, $event)"
                               tabindex="17"> <!--ng-model-options="{trackBy: '$value.id'}"-->
                        <md-option ng-value="null">{{lang.lbl_none}}</md-option>
                        <md-option ng-repeat="option in ctrl.mainEntities track by $index"
                                   ng-if="option.isActive()"
                                   ng-value="option.getEntityId()">{{option.getTranslatedName()}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <!--departments-->
                <md-input-container flex>
                    <label for="dept">{{lang.lbl_departments}}</label>
                    <md-select id="dept" name="dept"
                               ng-disabled="!ctrl.criteria.entity"
                               ng-model="ctrl.criteria.department"
                               tabindex="18"> <!--ng-model-options="{trackBy: '$value.id'}"-->
                        <md-option ng-value="null">{{lang.lbl_none}}</md-option>
                        <md-option ng-repeat="option in ctrl.departments track by $index"
                                   ng-if="option.isActive()"
                                   ng-value="option.getEntityId()">{{option.getTranslatedName()}}
                        </md-option>
                    </md-select>
            </div>
            <div layout="row">
                <!-- Date -->
                <fieldset class="fieldset">
                    <legend class="md-accent">{{lang.lbl_date}}</legend>

                    <!-- Date From -->
                    <md-input-container flex>
                        <label for="dateFrom">{{lang.lbl_from}}</label>
                        <md-datepicker ng-model="ctrl.criteria.dateFrom"
                                       name="dateTo" id="dateFrom"
                                       md-max-date="ctrl.criteria.dateTo"
                                       md-open-on-focus
                                       ng-required="ctrl.criteria.dateTo"
                                       tabindex="19"></md-datepicker>
                        <div ng-messages="generalReportForm.dateFrom.$error">
                            <div ng-message="required">{{lang.error_field_required}}</div>
                        </div>
                    </md-input-container>
                    <!-- Register Date To -->
                    <md-input-container flex>
                        <label for="dateTo">{{lang.lbl_to}}</label>
                        <md-datepicker ng-model="ctrl.criteria.dateTo"
                                       name="dateTo" id="dateTo"
                                       md-min-date="ctrl.criteria.dateFrom"
                                       md-open-on-focus
                                       ng-required="ctrl.criteria.dateFrom"
                                       tabindex="20"></md-datepicker>
                        <div ng-messages="generalReportForm.dateTo.$error">
                            <div ng-message="required">{{lang.error_field_required}}</div>
                        </div>
                    </md-input-container>
                </fieldset>
            </div>

        </div>

    </div>
</form>