$primaryColor: #4557bb;
$newStatusColor: red; /*#283DAD*/
$sentStatusColor: orange; /*#6575CD*/
$receivedStatusColor: green; /*#919EE2*/
$expectedStatusColor: yellow; /*#0D1D72*/
$returnedStatusColor: #989EBB;
$bodyBackground: #ffffff;
$headerTextColor: #ffffff;

.timeline_reference {
  padding: .5rem 1.5rem;
  color: $headerTextColor;
  background-color: $primaryColor;
  position: absolute;
  left: -29px;
  right: auto;
  top: 0;
}

.timeline_group {
  position: relative;
  padding-top: 55px;
}

.timeline_group:not(:first-of-type) {
  margin-top: 4rem;
}

.timeline_container {
  flex-grow: 1;
  max-width: 960px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

.timeline {
  position: relative;
  font-size: 16px;
}

.timeline:before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: $primaryColor;
  position: absolute;
  top: 0;
  left: 45px;
}

.timeline_box {
  position: relative;
  padding-left: 120px;
  padding-right: 0;
}

.timeline_box:before {
  content: "";
  width: 90%;
  height: 2px;
  position: absolute;
  left: 0;
  right: auto;
  z-index: -1;
  top: 53%;
  transform: translateY(-50%);
}

.timeline_box.color-1:before {
  background-color: $newStatusColor !important;
}

.timeline_box.color-2:before {
  background-color: $receivedStatusColor !important;
}

.timeline_box.color-3:before {
  background-color: $sentStatusColor !important;
}

.timeline_box.color-4:before {
  background-color: $expectedStatusColor !important;
}

.timeline_box.color-4:before {
  background-color: $returnedStatusColor !important;
}

.timeline_box:not(:last-of-type) {
  margin-bottom: 30px;
}

.timeline_header {
  min-width: 65px;
  position: absolute;
  left: 0;
  right: auto;
  box-sizing: border-box;
  padding: .5rem 1.5rem;
  text-align: center;
  top: 70%;
  margin-top: -27px;
  background-color: $primaryColor;
  color: $headerTextColor;

  &.color-1 {
    background-color: $newStatusColor !important;
  }

  &.color-2 {
    background-color: $receivedStatusColor !important;
  }

  &.color-3 {
    background-color: $sentStatusColor !important;
  }

  &.color-4 {
    background-color: $expectedStatusColor !important;
  }
  &.color-7 {
    background-color: $returnedStatusColor !important;
  }
}

.timeline_header_content {
  display: block;
  font-size: .8em;
  text-transform: uppercase;
}

.timeline_body {
  border-radius: 2px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
  background-color: $bodyBackground;

  &.color-1 {
    border-left: 3px solid $newStatusColor !important;
    border-right: 3px solid $newStatusColor !important;
  }

  &.color-2 {
    border-left: 3px solid $receivedStatusColor !important;
    border-right: 3px solid $receivedStatusColor !important;
  }

  &.color-3 {
    border-left: 3px solid $sentStatusColor !important;
    border-right: 3px solid $sentStatusColor !important;
  }

  &.color-4 {
    border-left: 3px solid $expectedStatusColor !important;
    border-right: 3px solid $expectedStatusColor !important;
  }
  &.color-7 {
    border-left: 3px solid $returnedStatusColor !important;
    border-right: 3px solid $returnedStatusColor !important;
  }
}

html.rtl {
  .timeline_reference {
    right: -29px;
    left: auto;
  }

  .timeline_header,
  .timeline_box:before {
    right: 0;
    left: auto;
  }

  .timeline:before {
    right: 45px;
  }

  .timeline_box {
    padding-left: 0;
    padding-right: 120px;
  }
}
